/*Debug*/
* {
  background-color: rgba(0, 255, 0, 0.1);
}

/*Basic Styles*/
body {
  box-sizing: border-box;
}
*, *:after, *:before {
  box-sizing: inherit;
}
/*Main Styles*/

.row {
  position: relative;
}
.video-wrap {
  position: absolute;
  top: 30px;
}
video {
  margin: 0 auto;
}
